@use '../scss/conf' as *;
@use '~sass-mq' as *;

.nav-bar {
  background-color: var(--black);
  color: var(--white);
}

.navigation {
  @extend %container;
  align-items: center;
  display: flex;
  height: px2rem(70px);
  justify-content: space-between;
}

.nav {
  display: flex;
  gap: px2rem(10px);

  @include mq($from: tablet) {
    gap: px2rem(30px);
  }
}

.nav-item {
  font-weight: $font-weight-700;
  transition: color .3s ease 0s;

  &.active,
  &:hover {
    color: var(--hover);
  }
}

.cta-nav-btn {
  align-items: center;
  border: 2px solid var(--hover);
  border-radius: 6px;
  color: var(--hover);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 9px;
  transition: color .3s ease 0s, border-color .3s ease 0s;

  @include mq($from: tablet) {
    flex-direction: row;
    gap: px2rem(15px);
    padding: 6px 18px;
  }

  label {
    display: none;

    @include mq($from: tablet) {
      display: block;
    }
  }

  .icon {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &:hover {
    border-color: var(--hover-lighten);
    color: var(--hover-lighten);
    cursor: pointer;
  }
}
